[Unit]
Description=Deployment for Xero Connector
Requires=config.service
After=config.service

[Service]
User=core
Type=oneshot
ExecStartPre=-/usr/bin/docker kill xero-connector-deploy
ExecStartPre=-/usr/bin/docker rm xero-connector-deploy
ExecStartPre=-/usr/bin/docker pull quay.io/hoist/connector-xero:master
ExecStart=/usr/bin/docker run -h xero-connector-deploy --name xero-connector-deploy -e "ROOT_CONNECTOR_DIR=/shares/connectors" --volumes-from config -P quay.io/hoist/connector-xero:master
ExecStop=/usr/bin/docker stop xero-connector-deploy
ExecStopPost=-/usr/bin/docker kill xero-connector-deploy
ExecStopPost=-/usr/bin/docker rm xero-connector-deploy
TimeoutStartSec=30m

[X-Fleet]
MachineMetadata=container_type=web
